svg[data-loader-checked] {
  @keyframes checkmark {
    0% {
      stroke-dashoffset: 100px;
    }
    100% {
      stroke-dashoffset: 0px;
    }
  }

  @keyframes checkmark-circle {
    0% {
      stroke-dashoffset: 480px;
    }
    100% {
      stroke-dashoffset: 960px;
    }
  }

  @keyframes colored-circle {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --checked-color: #2ecc71;
  --tick-color: #fff;

  g {
    stroke: var(--checked-color);
    stroke-width: 10;
  }

  circle {
    stroke-dasharray: 480px, 480px;
    stroke-dashoffset: 960px;
    animation: checkmark-circle 0.6s ease-in-out backwards;

    &#colored {
      fill: var(--checked-color);
      animation: colored-circle 0.3s ease-in-out 0.4s backwards;
    }
  }

  polyline {
    stroke: var(--tick-color);
    stroke-width: 16;
    stroke-dasharray: 100px, 100px;
    stroke-dashoffset: 200px;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: checkmark 0.25s ease-in-out 0.7s backwards;
  }
}
