@keyframes text-glare {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.glare-text {
    display: inline-block;
    font-weight: bold;
    background: linear-gradient(
        90deg,
        #00f7ff,
        #00cbd1,
        #00f7ff,
        #00cbd1
    );
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-glare 5s linear infinite;
}
